<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>Survey</title>

  <meta name="description" content="OneUI - Admin Dashboard Template &amp; UI Framework created by pixelcave and published on Themeforest">
  <meta name="author" content="pixelcave">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

  <!-- Icons -->
  <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
  <link rel="shortcut icon" href="../../assets/img/favicons/favicon.png">

  <link rel="icon" type="image/png" href="../../assets/img/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="../../assets/img/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="../../assets/img/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="../../assets/img/favicons/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="../../assets/img/favicons/favicon-192x192.png" sizes="192x192">

  <link rel="apple-touch-icon" sizes="57x57" href="../../assets/img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../../assets/img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../../assets/img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../../assets/img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../../assets/img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../../assets/img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../../assets/img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicons/apple-touch-icon-180x180.png">
  <!-- END Icons -->

  <!-- Stylesheets -->
  <!-- Web fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

  <!-- Bootstrap and OneUI CSS framework -->
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" id="css-main" href="../../assets/css/oneui.css">

  <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
  <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/flat.min.css"> -->
  <!-- END Stylesheets -->
</head>
<body>
<!-- Page Container -->
<!--
    Available Classes:

    'enable-cookies'             Remembers active color theme between pages (when set through color theme list)

    'sidebar-l'                  Left Sidebar and right Side Overlay
    'sidebar-r'                  Right Sidebar and left Side Overlay
    'sidebar-mini'               Mini hoverable Sidebar (> 991px)
    'sidebar-o'                  Visible Sidebar by default (> 991px)
    'sidebar-o-xs'               Visible Sidebar by default (< 992px)

    'side-overlay-hover'         Hoverable Side Overlay (> 991px)
    'side-overlay-o'             Visible Side Overlay by default (> 991px)

    'side-scroll'                Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (> 991px)

    'header-navbar-fixed'        Enables fixed header
-->
<div id="page-container" class="sidebar-l side-scroll header-navbar-fixed">
  <!-- Side Overlay-->
  <aside id="side-overlay">
    <!-- Side Overlay Scroll Container -->
    <div id="side-overlay-scroll">


      <!-- Side Content -->
      <div class="side-content remove-padding-t">
        <!-- Account -->
        <div class="block pull-r-l">
          <div class="block-header bg-gray-lighter">
            <ul class="block-options">
              <li>
                <button type="button" data-toggle="block-option" data-action="content_toggle"></button>
              </li>
            </ul>
            <h3 class="block-title">Account</h3>
          </div>

        </div>
        <!-- END Account -->


      </div>
      <!-- END Side Content -->
    </div>
    <!-- END Side Overlay Scroll Container -->
  </aside>
  <!-- END Side Overlay -->

  <!-- Header -->
  <header id="header-navbar">
    <div class="content-mini content-mini-full content-boxed">
      <!-- Header Navigation Right -->
      <ul class="nav-header pull-right">
        <li class="visible-xs">
          <!-- Toggle class helper (for .js-header-search below), functionality initialized in App() -> uiToggleClass() -->
          <button class="btn btn-default" data-toggle="class-toggle" data-target=".js-header-search" data-class="header-search-xs-visible" type="button">
            <i class="fa fa-search"></i>
          </button>
        </li>

        <li>
          <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
          <button class="btn btn-default btn-image" data-toggle="layout" data-action="side_overlay_toggle" type="button">
            <img src="../../assets/img/avatars/avatar9.jpg" alt="Avatar">
            <i class="fa"></i>
          </button>
        </li>
      </ul>
      <!-- END Header Navigation Right -->

      <!-- Header Navigation Left -->
      <ul class="nav-header pull-left">
        <li class="header-content">
          <a class="h5" href="index.html">

          </a>
        </li>
        <li>
          <!-- Themes functionality initialized in App() -> uiHandleTheme() -->
         <!-- <div class="btn-group">
            <button class="btn btn-link text-gray dropdown-toggle" data-toggle="dropdown" type="button">
              <i class="si si-drop"></i>
            </button>
          </div>-->
        </li>
      </ul>
      <!-- END Header Navigation Left -->
    </div>
  </header>
  <!-- END Header -->

  <!-- Main Container -->
  <main id="main-container">
    <!-- Sub Header -->
    <div class="bg-gray-lighter visible-xs">
      <div class="content-mini content-boxed">
        <button class="btn btn-block btn-default visible-xs push" data-toggle="collapse" data-target="#sub-header-nav">
          <i class="fa fa-navicon push-5-r"></i>Menu
        </button>
      </div>
    </div>
    <div class="bg-primary-lighter collapse navbar-collapse remove-padding" id="sub-header-nav">
      <div class="content-mini content-boxed">
        <ul class="nav nav-pills nav-sub-header push">
          <li class="active">

            <h3>ChatBot Survey</h3>

          </li>
        </ul>
      </div>
    </div>
    <!-- END Sub Header -->

    <!-- Page Content -->
    <div class="content content-boxed">
      <!-- Section -->
      <div class="bg-image img-rounded overflow-hidden push" style="background-image: url('../../assets/img/photos/photo29@2x.jpg');">
        <div class="bg-black-op">
          <div class="content">
            <div class="block block-transparent block-themed text-center">
              <div class="block-content">
                <h1 class="h1 font-w700 text-white animated fadeInDown push-5">Dashboard</h1>
                <h2 class="h4 font-w400 text-white-op animated fadeInUp">Welcome Administrator.</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END Section -->

      <!-- Charts -->
      <div class="row">
        <div class="col-md-6">
          <div class="block block-rounded block-opt-refresh-icon8">
            <div class="block-header">
              <ul class="block-options">
                <li>
                  <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo">
                    <!--<i class="si si-refresh"></i>--></button>
                </li>
              </ul>
              <h3 class="block-title">Manage Organisations</h3>
            </div>
            <div class="content-mini content-boxed">
              <ul class="nav nav-pills nav-sub-header push">
                <li class="active">
                  <button type="button" class="btn btn-block btn-primary" (click)="showAddOrg();"> Add Organisations</button>
                </li>
                <li>
                  <button type="button" class="btn btn-block btn-primary" (click)="showEditOrg();"> Edit Organisation</button>
                </li>
                <li>
                  <button type="button" class="btn btn-block btn-primary" (click)="showDelOrg();"> Delete Organisation</button>
                </li>
              </ul>
            </div>
            <div class="block-content block-content-full bg-gray-lighter" *ngIf="addShown">
              <!-- Chart.js Charts (initialized in js/pages/base_pages_dashboard_v2.js), for more examples you can check out http://www.chartjs.org/docs/ -->
              <label>Add Organisation</label>
              <div class="form-group">
                <div class="form-group col-lg-6 col-lg-offset-3 input-group">
                  Organisation Name : <select class="form-control" id="orgName" #orgName>
                  <option>---Select---</option>
                  <option>UMKC</option>
                  <option>KSU</option>
                  <option>Calvary</option>
                </select>
                  <br>
                  City: <input type="text" placeholder="City" class="form-control" #city>
                  <br>
                  State: <input type="text" placeholder="State" class="form-control" #state>
                  <br>
                  ZipCode: <input type="text" placeholder="ZipCode" class="form-control" #zip>

                </div>
                <div class="form-group">
                  <div class="col-xs-12 col-sm-6 col-md-4">
                   <button type="button" class="btn btn-block btn-primary" (click)="addOrg();" > Add</button>
                  </div>
                </div>
              </div>
              <div style="height: 320px;"><canvas class="js-dash-chartjs-earnings"></canvas></div>
            </div>

            <div class="block-content block-content-full bg-gray-lighter" *ngIf="editShown">
              <!-- Chart.js Charts (initialized in js/pages/base_pages_dashboard_v2.js), for more examples you can check out http://www.chartjs.org/docs/ -->
              <label>Edit Organisation</label>
              <div class="form-group">
                <div class="form-group col-lg-6 col-lg-offset-3 input-group">
                  Organisation Name : <select class="form-control" id="eorgName" #eorgName>
                  <option>---Select---</option>
                  <option>UMKC</option>
                  <option>KSU</option>
                  <option>Calvary</option>
                </select>
                  <br>
                  <div *ngIf="showOrg">
                    City: <input type="text" placeholder="City" class="form-control" #ecity>
                    <br>
                    State: <input type="text" placeholder="State" class="form-control" #estate>
                    <br>
                    ZipCode: <input type="text" placeholder="ZipCode" class="form-control" #ezip>
                    <br>
                    <div class="form-group">
                      <div class="col-xs-12 col-sm-6 col-md-4 button-padding">
                        <button type="button" class="btn btn-block btn-primary" (click)="saveOrganisation();" > Save</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group" *ngIf="showButton">
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <button type="button" class="btn btn-block btn-primary" (click)="editOrg();" > Edit</button>
                  </div>
                </div>
              </div>
              <div style="height: 320px;"><canvas class="js-dash-chartjs-earnings"></canvas></div>
            </div>

            <div class="block-content block-content-full bg-gray-lighter" *ngIf="delShown">
              <!-- Chart.js Charts (initialized in js/pages/base_pages_dashboard_v2.js), for more examples you can check out http://www.chartjs.org/docs/ -->
              <label>Delete Organisation</label>
              <div class="form-group">
                <div class="form-group col-lg-6 col-lg-offset-3 input-group">
                  Organisation Name : <select class="form-control" id="dorgName" #dorgName>
                  <option>---Select---</option>
                  <option>UMKC</option>
                  <option>KSU</option>
                  <option>Calvary</option>
                </select>

                </div>
                <div class="form-group">
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <button type="button" class="btn btn-block btn-primary" (click)="delOrg();" > Delete</button>
                  </div>
                </div>
              </div>
              <div style="height: 320px;"><canvas class="js-dash-chartjs-earnings"></canvas></div>
            </div>


            <div class="block-content text-center">
              <div class="row items-push-2x text-center push-20-t">




              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="block block-rounded block-opt-refresh-icon8">
            <div class="block-header">
              <ul class="block-options">
                <li>
                  <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo">
                    <!--<i class="si si-refresh"></i>--></button>
                </li>
              </ul>
              <h3 class="block-title">Organisations Chart</h3>
            </div>
            <div class="block-content block-content-full bg-gray-lighter text-center">
              <!-- Chart.js Charts (initialized in js/pages/base_pages_dashboard_v2.js), for more examples you can check out http://www.chartjs.org/docs/ -->
              <div style="height: 320px;"><canvas class="js-dash-chartjs-sales"></canvas></div>
            </div>
            <div class="block-content text-center">
              <div class="row items-push-2x text-center push-20-t">




              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END Charts -->
    </div>
    <!-- END Page Content -->
  </main>
  <!-- END Main Container -->

  <!-- Footer -->
  <footer id="page-footer" class="bg-body font-s12">

  </footer>
  <!-- END Footer -->
</div>
<!-- END Page Container -->

<!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
<script src="../../assets/js/core/jquery.min.js"></script>
<script src="../../assets/js/core/bootstrap.min.js"></script>
<script src="../../assets/js/core/jquery.slimscroll.min.js"></script>
<script src="../../assets/js/core/jquery.scrollLock.min.js"></script>
<script src="../../assets/js/core/jquery.appear.min.js"></script>
<script src="../../assets/js/core/jquery.countTo.min.js"></script>
<script src="../../assets/js/core/jquery.placeholder.min.js"></script>
<script src="../../assets/js/core/js.cookie.min.js"></script>
<script src="../../assets/js/app.js"></script>

<!-- Page Plugins -->
<script src="../../assets/js/plugins/chartjs/Chart.min.js"></script>

<!-- Page JS Code -->
<script src="../../assets/js/pages/base_pages_dashboard_v2.js"></script>
<script>
    jQuery(function () {
        // Init page helpers (CountTo plugin)
        App.initHelpers('appear-countTo');
    });
</script>
</body>
</html>
